{% extends 'base.html.twig' %}

{% block title %}Mon panier - {{ parent() }}{% endblock %}

{% block body %}
			<!-- Début section PANIER -->
			<section class="gg-cart bg-cart">
				<div class="container-fluid">
					<article>
						<div class="row">
							<div class="col-1 col-lg-3"></div>

							<div class="col-10 col-lg-6 px-auto  mx-auto">  
								<div class="gg-cart-container mx-auto">
    								<h2 class="gg-cart-title text-center">Mon Panier</h2>
									{# On affiche les messages si il y en a #}
									{% for label, messages in app.flashes(['cart']) %}
										{% for message in messages %}
											<div class="flash-{{ label }}">
												{{ message }}
											</div>
										{% endfor %}
									{% endfor %}   
							{% if cart is not empty %}
									<a href="#" class="gg-cart-empty" onclick="event.preventDefault(); document.getElementById('form-empty-cart').submit();">× Vider le panier</a>
   		 							<form id="form-empty-cart" action="{{ path('app_cart_empty') }}" method="POST" style="display:none;">
    									<input type="hidden" name="_token" value="{{ csrf_token('app_cart_empty') }}">
									</form>
								{% for product in cart %}
        							<div class="gg-cart-item d-flex">
            							<img src="{{ asset('images/produits/'~product['photo']) }}" class="gg-cart-image">
            							<div class="gg-cart-info w-100">
							                <h4 class="fw-bolder">{{ product['name'] }}</h4>
							                <p class="gg-cart-qty">Quantité : {{ product['quantity'] }} </p>
							                <h3 class="mb-3">{{ (product['total']) | price }}</h3>

                							<div class="gg-cart-actions">
												<form action="{{ path('app_cart_remove', {id: product['id']}) }}" class="d-inline" method="POST">
													<input type="hidden" name="_token" value="{{ csrf_token('app_cart_remove') }}">
													<button class="btn gg-btn-cart fw-bold" title="Enlever 1 article">-</button>
												</form>
												<form action="{{ path('app_cart_add', {id: product['id']}) }}" class="d-inline" method="POST">
													<input type="hidden" name="_token" value="{{ csrf_token('app_cart_add') }}">
													<button class="btn gg-btn-cart fw-bold" title="Ajouter 1 article">+</button>
												</form>
												<form action="{{ path('app_cart_delete', {id: product['id']}) }}" class="d-inline" method="POST">
													<input type="hidden" name="_token" value="{{ csrf_token('app_cart_delete') }}">
													<button class="btn gg-btn-cart fw-bold" title="Supprimer l'article">X</button>
												</form>
											</div>
										</div>
									</div>
    							{% endfor %}
							{%else %}
									<div class="gg-cart-item d-flex">
            							<div class="gg-cart-info">
											<h4 class="w-100 fw-bolder">Votre panier est vide</h4>
										</div>
									</div>
							{% endif %}
								</div>
								<div class="gg-cart-total text-end mx-auto">
									<p class="fw-bold">Total panier : <span class="fs-3 fw-bold">{{ (totalamount) | price }}</span><br>
									<span class="fs-7 fw-normal">Frais de livraison offerts</small></p>
								</div>
								{% if app.user.archive == false and totalamount >0 %}	
								<div class="gg-cart-validOrder mx-auto">
									<form action="{{ path('app_cart_generate') }}"  method="POST">
										<input type="hidden" name="_token" value="{{ csrf_token('app_cart_generate') }}">
										<button class="tn custom-btn custom2-btn" title="Supprimer l'article">Valider la commande</button>
									</form>
								</div>	
								{% endif %}				
							</div>
							<div class="col-1 col-lg-3"></div>
						</div>
					</article>
				</div>
			</section><!-- Fin Section PANIER -->
{% endblock %}