{% extends 'base.html.twig' %}

{% block title %}Mon Panier {% endblock %}

{% block body %}
			<!-- Début section PANIER -->
			<section class="gg-cart bg-cart">
				<div class="container-fluid">
					<article>
						<div class="row">
							<div class="col-1 col-lg-3"></div>

							<div class="col-10 col-lg-6 px-auto  mx-auto">
								<div class="gg-cart-container mx-auto">
    								<h2 class="gg-cart-title text-center">Mon Panier</h2>
							{% if produits is not empty %}
   		 							<a href="{{ path('app_gg_cart_empty') }}" class="gg-cart-empty">× Vider le panier</a>
    							{% for produit in produits %}
        							<div class="gg-cart-item d-flex">
            							<img src="{{ asset('images/produits/'~produit.photo) }}" class="gg-cart-image">
            							<div class="gg-cart-info w-100">
							                <h4 class="fw-bolder">{{ produit.name }}</h4>
							                <p class="gg-cart-qty">Quantité : {{ panier[produit.id] }} </p>
							                <h3 class="mb-3">{{ produit.sousTotal |  number_format(2,'.',' ')}}€</h3>

                							<div class="gg-cart-actions">
												<a href="{{ path('app_gg_cart_remove', {id: produit.id}) }}" title="Supprimer 1" class="btn gg-btn-cart">−</a>
												<a href="{{ path('app_gg_cart_add', {id: produit.id}) }}" title="Ajouter 1" class="btn gg-btn-cart">+</a>
												<a href="{{ path('app_gg_cart_delete', {id: produit.id}) }}" title="Supprimer l'article"  class="btn gg-btn-cart">X</a>
											</div>
										</div>
									</div>
    							{% endfor %}
							{%else %}
									<div class="gg-cart-item d-flex">
            							<div class="gg-cart-info">
											<h4 class="w-100 fw-bolder">Votre panier est vide</h4>
										</div>
									</div>
							{% endif %}
								</div>
								<div class="gg-cart-total text-end mx-auto">
									<p class="fw-bold">Total panier : <span class="fs-3 fw-bold">{{ prixTotal | number_format(2,'.',' ')}}€</span><br>
									<span class="fs-7 fw-normal">Frais de livraison offerts</small></p>
								</div>
								{% if app.user.archive == false %}	
								<div class="gg-cart-validOrder mx-auto">
									<a href="{{ path('app_gg_order_create') }}" class="btn custom-btn">Valider la commande</a>
								</div>	
								{% endif %}				
							</div>
							<div class="col-1 col-lg-3"></div>
						</div>
					</article>
				</div>
			</section><!-- Fin Section PANIER -->


{% endblock %}