{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block header %}
    {% include 'menu/menu_deconnecte.html.twig' %}
{% endblock %}

{% block body %}

{% include "Main/hero.html.twig" %}

			<section class="nosProduits">
				<div class="text-start" style="padding:30px 100px;height:81px;width:100%;background:#FFFDF7">
					<h3>Nos produits </h3>
				</div>
			</section>
			
			<!-- Début section PRODUITS -->
			<section class="gg-produits" style="background-color:#FFFDF7;">
				<div class="container-fluid p-0 m-0">

					<div class="row p-0 m-0" style="background-color:#FFFDF7;">
						<div class="col-12 col-md-6 col-lg-4 p-0 m-0">
							<div class="card">
								<!-- image produit -->
								<img src="{{ asset('images/Rectangle 4.png') }}" class="card-img-top" alt="Photo produit">
								<div class="card-body d-flex flex-column">
									<!-- div Titre / Description - Prix - Bouton "Voir le produit" -->
									<div class="desc">
										<h4 class="card-title">Kit d'hygiène recyclable </h4>
										<p class="card-text">FPour une salle de bain éco-friendly</p>
									</div>
									<!-- Prix -->
									<h4 class="card-title">24,99€</h4>
									<!-- bouton "voir le produit" placer en bas de la zone -->
									<div class="d-flex mt-auto align-items-end p-0">
										<a href="#" class="btn custom3-btn " role="button" style="">Voir le produit</a>
									</div>
								</div>
							</div>		
						</div>

						<div class="col-12 col-md-6 col-lg-4 p-0 m-0"> <!-- style="height:692px;background-color:#FFFDF7;"> -->
							<div class="card">
								<img src="{{ asset('images/Rectangle 4-3.png') }}" class="card-img-top" alt="Photo produit">
								<div class="card-body d-flex flex-column">
									<div class="desc">
										<h4 class="card-title">Shot Tropical</h4>
										<p class="card-text">Fruits frais, pressés à froid</p>
									</div>
									<h4 class="card-title">4,50€</h4>
									<div class="d-flex mt-auto align-items-end p-0">
										<a href="#" class="btn custom3-btn" role="button" style="">Voir le produit</a>
									</div>
								</div>
							</div>		
						</div>
						
						<div class="col-12 col-md-6 col-lg-4 p-0 m-0"> <!-- style="height:692px;background-color:#FFFDF7;"> -->
							<div class="card">
								<img src="{{ asset('images/Rectangle 4-6.png') }}" class="card-img-top" alt="Photo produit">
								<div class="card-body d-flex flex-column">
									<div class="desc">
										<h4 class="card-title">Gourde en bois</h4>
										<p class="card-text">50cl, bois d’olivier</p>
									</div>
									<h4 class="card-title">16,90€</h4>
									<div class="d-flex mt-auto align-items-end p-0">
										<a href="#" class="btn custom3-btn " role="button" style="">Voir le produit</a>
									</div>
								</div>
							</div>		
						</div>
					 <!--</div>
					
					deuxieme ligne 
					<div class="row text-center p-0 m-0" style="background-color:#FFFDF7;">
					-->
						<div class="col-12 col-md-6 col-lg-4 h-100 p-0 m-0" >
							<div class="card">
								<img src="{{ asset('images/Rectangle 4-1.png') }}" class="card-img-top" alt="Photo produit">
								<div class="card-body d-flex flex-column">
									<div class="desc">
										<h4 class="card-title">Disques Démaquillants x3</h4>
										<p class="card-text">Solution efficace pour vous démaquiller en douceur</p>
									</div>
									<h4 class="card-title">19,90€</h4>
									<div class="d-flex mt-auto align-items-end p-0">
										<a href="#" class="btn custom3-btn" role="button" style="">Voir le produit</a>
									</div>
								</div>
							</div>			
						</div>
						
						<div class="col-12 col-md-6 col-lg-4 h-100 p-0 m-0">
							<div class="card">
								<img src="{{ asset('images/Rectangle 4-4.png') }}" class="card-img-top" alt="Photo produit">
								<div class="card-body d-flex flex-column">
									<div class="desc">
										<h4 class="card-title">Bougie Lavande & Patchouli</h4>
										<p class="card-text">Cire naturelle</p>
									</div>
									<h4 class="card-title">32€</h4>
									<div class="d-flex mt-auto align-items-end p-0">
										<a href="#" class="btn custom3-btn" role="button" style="">Voir le produit</a>
									</div>
								</div>
							</div>			
						</div>

						<div class="col-12 col-md-6 col-lg-4 h-100 p-0 m-0"> 
							<div class="card">
								<img src="{{ asset('images/Rectangle 4-7.png') }}" class="card-img-top" alt="Photo produit">
								<div class="card-body d-flex flex-column">
									<div class="desc">
										<h4 class="card-title">Brosse à dent</h4>
										<p class="card-text">Bois de hêtre rouge issu de forêts gérées durablement</p>
									</div>
									<h4 class="card-title">5,40€</h4>
									<div class="d-flex mt-auto align-items-end p-0" style="height:4.8125rem;">
										<a href="#" class="btn custom3-btn" role="button" style="">Voir le produit</a>
									</div>
								</div>
							</div>							
						</div>
						
					</div>
				</div>
			</section><!-- Fin Section PRODUITS -->
			
			{% include "Main/values.html.twig" %}

{% endblock %}
