{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}
{% block body %}
				<section class="gg-product">
					<article>
						<div class="container-fluid p-0 m-0">
							<div class="row row-cols-1 row-cols-md-2 p-0 m-0">
								<div class="col p-0 m-0 h-100 d-flex justify-content-start h-100">
									<img src="{{ asset('images/produits/'~product.photo)}}" alt="" class="w-100 gg-product-image" />
								</div>
								<div class="col d-flex flex-column p-0 m-0 justify-content-start mh-100 mx-auto" style="width:465px;">
									<div class="gg-product-info align-items-start" style="height:686px;">
										<h2 class="mb-3">{{ product.name}}</h2>
										<p class="price mb-3">{{ product.prix | number_format(2,',',' ') }}€</p>
										<p class="desc mb-3">Description</p>
										{# On structure le texte selon les CRLF -> <p></p>p> #}
										{% for ligne in tabDesc %}
											<p class="my-3">{{ ligne|trim }}</p>
											{% endfor %}
									{# si non connecté, on n'afiche pas les= bouton ajouter au panier #}
									{% if is_granted('ROLE_USER') and app.user.archive == false %} 
										<div class="gg-product-addcart mx-auto align-items-end">
											<a href="{{ path('app_gg_cart_add',{id: product.id}) }}" class="btn custom-btn custom2-btn">Ajouter au panier</a>
										</div>	
									</div>
								{% endif %}
								</div>									
							</div>
						</div>
					</article>
				</section><!-- Fin Section Produit -->
{% endblock %}