{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}
{% block body %}
			<div class="container-fluid p-0 m-0">

				<!-- Début section PRODUIT -->
				<section class="gg-produit" style="background:#FFFDF7;">
					<article>
						<div class="container-fluid">
							<div class="row">
								<div class="col col-md-7 p-0 imgProduit" style="max-width:734px;">
									<img src="{{ asset('images/produits/'~product.photo)}}" class="flex-fill w-100 h-100" alt="{{ product.name }}" style="object-fit:cover;object-position:center;">
								</div>

								<div class="col col-md-5 d-flex flex-column p-0 mx-auto mh-100" style="max-width:465px;">
									<div class="container p-0 m-0 mt-5">
										<h2 class="produit mb-3">{{ product.name}}</h2>
										<p class="prix mb-3">{{ product.prix | number_format(2,',',' ') }}€</p>
										<p class="desc mb-3">Description</p>
										{# On structure le texte selon les CRLF -> <p></p>p> #}
										{% for ligne in tabDesc %}
												<p class="my-3">{{ ligne|trim }}</p>
										{% endfor %}
									</div>
									{# si non connecté, on n'afiche pas les= bouton ajouter au panier #}
									{% if is_granted('ROLE_USER') %}

									<div class="container p-0 m-0 mt-auto">
										<div class="p-0 m-0" >
											<a href="{{ path('app_gg_cart_add',{id: product.id}) }}" class="btn custom-btn custom2-btn mx-auto mb-0" id="ajoutPanier" style="color:#ffffff;border-radius:0;padding:30px 0">Ajouter au panier</a>
										</div>
									</div>
									{% endif %}
								</div>	
							</div>
						</div>				
					</article>
				</section><!-- Fin Section Produit -->
			</div>
{% endblock %}