{% extends 'base.html.twig' %}

{% block title %}Produit - {{ parent() }}{% endblock %}
  
{% block body %}
				<section class="gg-product">
					<article>
						<div class="container-fluid p-0 m-0">
							<div class="row row-cols-1 row-cols-md-2 p-0 m-0">
								<div class="col p-0 m-0 h-100 d-flex justify-content-start h-100">
									<img src="{{ asset('images/produits/'~product.picture)}}" alt="" class="w-100 gg-product-image" />
								</div>
								<div class="col d-flex flex-column p-0 m-0 justify-content-start mh-100 mx-auto" style="width:465px;">
									<div class="gg-product-info align-items-start" style="height:686px;">
										<h2 class="mb-3">{{ product.name}}</h2>
										<p class="price mb-3">{{ (product.price/100) | number_format(2,',',' ') }}€</p>
										<p class="desc mb-3">Description</p>
										{{ product.fulldescription|raw}}
									{# si non connecté, on n'afiche pas le bouton "Ajouter au panier" #}
									{% if is_granted('ROLE_USER') and app.user.archive == false %} 
										<div class="gg-product-addcart mx-auto align-items-end">
											{{ form_start(form)}}
											
												{{form_row(form.quantity)}}
												{{form_row(form.submit)}}
												{{form_row(form.product_id)}}

												<input type="hidden" name="_token" value="{{ csrf_token('app_cart_add_from_product') }}">
											{{ form_end(form)}}		
										</div>	
									</div>
									{% else %}
										<div class="gg-product-addcart mx-auto align-items-end">
											<a href="{{ path('app_account_login') }}" class="btn custom-btn custom2-btn" role="button">Se connecter</a>
										</div>	
									</div>									
									{% endif %}
								</div>									
							</div>
						</div>
					</article>
				</section><!-- Fin Section Produit -->
{% endblock %}