{% extends 'base.html.twig' %}

{% block title %}Mon compte - {{ parent() }}{% endblock %}

{% block body %}
			<!-- Début section MONCOMPTE -->
			<section class="gg-account"> 
				<div class="container-fluid p-0 m-0">
					<article>
						<div class="row mh-account">
							<div class="col-1 col-lg-3"></div>

							<div class="col-10 col-lg-6 px-auto">
								<div class="gg-account-container mx-auto">

    								<h2 class="gg-account-title text-center">Mon compte {{ (user.isarchive) ? '(Supprimé)' }} </h2>
									{# On affiche les messages si il y en a #}
									{% for label, messages in app.flashes(['account']) %}
										{% for message in messages %}
											<div class="flash-{{ label }}">
												{{ message }}
											</div>
										{% endfor %}
									{% endfor %}   

									{# on affiche les commabdes si il y en a #}
									{% include "Order/ListeCommandes.html.twig" %}

									{# on affiche les actions sur le compte uniquemlent si le compte est actif #}
									{% if app.user.archive == false %}	
									<div class="gg-account-validButton">
										<h4 class="fw-bolder text-start d-block">Mon accès API</h4>
										<div class="d-flex">
											<form action="{{ path('app_account_api') }}"  method="POST">
												<input type="hidden" name="_token" value="{{ csrf_token('app_account_api') }}">
												<button class="tn custom-btn custom2-btn">{{ (user.isApiEnabled)? "Désactivé l'accès API" : "Activer l'accès API" }}</button>
											</form>
										</div>
									</div>

									<div class="gg-account-validButton d-flex">
										<form action="{{ path('app_account_delete') }}"  method="POST">
											<input type="hidden" name="_token" value="{{ csrf_token('app_account_delete') }}">
											<button class="tn custom-btn custom2-btn" >Supprimer mon compte</button>
										</form>
									</div>
									{% endif %}  
								</div>
							</div>

							<div class="col-1 col-lg-3"></div>
						</div>
					</article>
				</div>
			</section><!-- Fin Section MONCOMPTE -->

{% endblock %}